.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input {
  font-size: 45px;
  height: 55px;
  border-radius: 7px;
  border-style: groove;
}

.URL{
  list-style-type: none;
}

a{
  color: black;
  text-decoration: underline;
}

a#unknown{

}

a#true
{
  background-color: rgb(173, 232, 134);
  color: rgb(35, 176, 0);
  text-decoration: underline;
}

a#true:hover{
  color: black;
}

a#false{
  color: red;
  text-decoration: none;
}

a#false:hover{
  color: pink;
}

a#bad{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
